# ivlog files
*.out
*.dvt
*.log

# questa files
work/
*.mpf
*.wlf
*.cr.mti
*.vcd
*.vstf

# quartus files
.qsys_edit/
db/
greybox_tmp/
incremental_db/
output_files/
simulation/
altera_mf.v
*.qpf
*.qsf
*.bak
*.qws
*.txt
*.rpt
*.debuginfo
*.sopcinfo

# unwanted tb_ files
tb_*.sv
tb_*.v

# other
.vscode/
adc_controller/